name: Collecte et Mise à jour du Site

on:
  schedule:
    # Lance le script toutes les 20 minutes (pour ne pas saturer GitHub)
    - cron: "*/20 * * * *"
  workflow_dispatch: # Permet de lancer manuellement le script depuis l'interface GitHub

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Récupérer le code
      uses: actions/checkout@v3

    - name: Installer Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Installer les dépendances
      run: |
        python -m pip install --upgrade pip
        pip install requests pandas plotly

    - name: Lancer la collecte des données
      run: python collect_once.py

    - name: Générer le site Web
      run: python generate_site.py

    - name: Sauvegarder et Publier (Commit & Push)
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add data/suivi_global.csv index.html
        # On ne commite que s'il y a des changements
        git diff --quiet && git diff --staged --quiet || (git commit -m "Mise à jour automatique des données" && git push)